@font-face {
  font-family: 'outrun_futureregular';
  src: url('outrun_future-webfont.woff2') format('woff2'),
       url('outrun_future-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
.paragraph
{
  background-image: url("static.jpg");
  text-align: center;
	font-size: 35px;
  color: rgb(194, 0, 0);
	text-transform: uppercase;
	font-weight: 200;
  opacity: 1;
}
.header{
  width: 100%;
  background-color: rgba(0, 0, 0, .2);
  position: relative;
}
.header ul{
  text-align: center;
}
.header ul li{
  list-style: none;
  display: inline-block;
}
.header ul li a{
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  font-family: 'outrun_futureregular';
  letter-spacing: 2px;
  font-weight: 600;
  padding: 25px;
}
.header ul li a:hover{
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(194, 0, 0);
  font-size: 20px;
  font-family: 'outrun_futureregular';
  letter-spacing: 2px;
  font-weight: 600;
  padding: 25px;
}
.content .info h1{
  color: rgb(194, 0, 0);
  font-size: 55px;
  text-transform: uppercase;
  font-family: "Road Rage", sans-serif;
  font-weight: 500;
  letter-spacing: 6px;
  line-height: 60px;
  text-align: center;
  border-radius: 5px ;
  background: rgba(0, 0, 0, .8);
}
.content .info p{
  color: rgb(194, 0, 0);
  font-size: 16px;
  font-weight: 500;
  font-family: "Road Rage", sans-serif;
  text-align: center;
}
body{
  background-image: url("asss.jpg") ;
	font-family:'outrun_futureregular';
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  font-family: 'outrun_futureregular';
}
.container{
  position: relative;
  min-height: 70vh;
  background: rgba(0, 0, 0, .5);
}
.container .video-container{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 10px;
}
.container .video-container .video{
  height: 250px;
  width: 350px;
  border-radius: 5px ;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  cursor: pointer;
  overflow: hidden;
}
.container .video-container figure figcaption {
  color: rgb(194, 0, 0);
  font-size: 16px;
  font-weight: 500;
  font-family: "Road Rage", sans-serif;
  text-align: center;
}
.container .video-container figure figcaption {
  color: rgb(194, 0, 0);
  font-size: 16px;
  font-weight: 500;
  font-family: "Road Rage", sans-serif;
  text-align: center;
  transition: .2s linear;
  opacity: 0;
}

.container .video-container .video video{
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: .2s linear;
  opacity: 0.6;
}

.container .video-container figure:hover figcaption{
  opacity: 1;
  transform: scale(1.1);
}
.container .video-container .video:hover video{
  opacity: 1;
  transform: scale(1.1);
}
.container .popup-video{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, .8);
  height: 100%;
  width: 100%;
  display: none;
}
.container .popup-video video{
  position: absolute;
  top: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 750px;
  border-radius: 5px;
  object-fit: cover;
}
.container .popup-video span{
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 50px;
  color: #fff;
  font-weight: bolder;
  z-index: 100;
  cursor: pointer;
}  
.container .popup-video span:hover{
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 50px;
  color: #fff;
  font-weight: bolder;
  z-index: 100;
  cursor: pointer;
  transform: scale(1.1);
  color: rgb(194, 0, 0);
} 
.back-to-top {
  background:rgba(0, 0, 0, .1);
  color: #FFFFFF;
  opacity: 0;
  transition: opacity .6s ease-in-out;
  z-index: 999;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 0%;
}
a.back-to-top {
  font-weight: 1000;
  letter-spacing: 2px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.6;
  padding-left: 2px;
  padding-top: 14px;
}
.back-to-top:hover{
  color: #ff0000;
}
.back-to-top.show {
  opacity: 1;
}
a {
  text-decoration:none;
}
@media (max-width:768px){
  .container .popup-video video{
    width: 95%;
  }
  body {
    background-image: url(monb.jpg);
    font-family:'outrun_futureregular';
    background-color: rgba(0, 0, 0, .2);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }
} 
